<header class="header">
    <div class="wrapper">
        <div class="header__logo">
            <a href="#banner" class="header__logo-link js-scroll">
                <img src="./img/svg/odigo-logo.svg" alt="">
            </a>
        </div>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a href="#articles" class="header__link js-scroll">Articles</a>
                </li>
                <li class="header__item">
                    <a href="#locations" class="header__link js-scroll">Locations</a>
                </li>
                <li class="header__item">
                    <a href="#videos" class="header__link js-scroll">Videos</a>
                </li>
                <li class="header__item">
                    <a href="#!" class="header__link">Sign in</a>
                </li>
            </ul>
            <div class="header__nav-close">
                <span class="header__nav-close-line"></span>
                <span class="header__nav-close-line"></span>
            </div>
        </nav>
        <div class="header__burger burger">
            <span class="burger__line burger__line_first"></span>
            <span class="burger__line burger__line_second"></span>
            <span class="burger__line burger__line_third"></span>
        </div>
    </div>
</header>
