<div class="tours" id="articles">
    <div class="wrapper_full">
        <div class="tours__tour tour row">
            <div class="tour__pic col-6">
                <img src="./img/tour-1-min.jpg" alt="Prefecture in Focus: Tottori" class="tour__thumb">
            </div>
            <div class="tour__info col-6">
                <h3 class="tour__title">
                    Prefecture in Focus: Tottori
                </h3>
                <p class="tour__desc">
                    Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
                </p>
                <a href="#" class="tour__more">VIEW PREFECTURE</a>
            </div>
        </div>
        <div class="tours__tour tour row">
           <div class="tour__info col-6 mobile-order-2">
                <h3 class="tour__title">
                    Featured Neighborhood: Kyoto’s Arashiyama
                </h3>
                <p class="tour__desc">
                    Jump off balcony, onto stranger's head. Chase ball of string hide when guests come over. Being gorgeous with belly side up i could pee on this if i had the energy but under the bed, for attack the child, open the door,
                </p>
                <a href="#" class="tour__more">VIEW PREFECTURE</a>
            </div>
            <div class="tour__pic col-6 mobile-order-1">
                <img src="./img/tour-2-min.jpg" alt="Featured Neighborhood: Kyoto’s Arashiyama" class="tour__thumb">
            </div>
        </div>
    </div>
</div>
