<section class="video" id="videos">
    <div class="video__wrapper">
        <div class="video__item"></div>
        <iframe class="video__element" src="https://www.youtube.com/embed/rcnLTnGGBU0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
