.banner {
    background: url("../img/banner-min.png") no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 263px;
    padding-bottom: 250px;
    color: #fff;
    .banner__title {
        margin-bottom: 22px;
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 60px;
        width: 619px;
    }
    .banner__subtitle {
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        max-width: 546px;
        margin-bottom: 59px;
    }
    .search-form__info {
        display: flex;
        flex-wrap: wrap;
    }
    .search-form__field {
        width: 297px;
        background: transparent url(../img/svg/circle-ico.svg) no-repeat left 0;
        background-size: 20px;
        border: 0;
        border-bottom: 2px solid #BFC0C5;
        margin-right: 60px;
        padding-left: 43px;
        padding-bottom: 22px;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        &::placeholder {
            font-weight: 500;
            font-size: 18px;
            color: #fff;
        }
    }
    .search-form__submit {
        padding: 15px 39px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 24px;
        color: white;
        background: #1B7DFF;
        border: 0;
        cursor: pointer;
        &:hover, &:active, &:focus {
            background: #0e66da;
        }
    }
}
