<!DOCTYPE html>
<html>

<head lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Discover Amazing places in Japan</title>
    <meta content="description" content="">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#550c97">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ff0000">
</head>

<body>
    <!--  header  -->
    {{> ./sections/header.min.handlebars }}
    <!--  end header  -->
    <!--  main  -->
    <main>
        <!--  banner  -->
        {{> ./sections/banner.min.handlebars }}
        <!--  end banner  -->
        <!--  benefits  -->
        {{> ./sections/benefits.min.handlebars }}
        <!--  end benefits  -->
        <!--  places  -->
        {{> ./sections/places.min.handlebars }}
        <!--  end places  -->
        <!--  tours  -->
        {{> ./sections/tours.min.handlebars }}
        <!--  end tours  -->
        <!--  top  -->
        {{> ./sections/top.min.handlebars }}
        <!--  end top  -->
        <!--  video  -->
        {{> ./sections/video.min.handlebars }}
        <!--  end video  -->
    </main>
    <!--  end main  -->
    <!--  footer  -->
    {{> ./sections/footer.min.handlebars }}
    <!--  end footer  -->
</body>
</html>
